log:
  logger-name: daily_logger
  filename: logs/daily.txt
  hour: 2
  minute: 30
db:
  path:
    local: ./localDB.db
    phi: ./PhigrosInfo.db
    phi-player: ./PlayerRecords.db
server:
  data-url: https://rak3ffdi.cloud.tds1.tapapis.cn
  redis:
    ip: "127.0.0.2"
    port: 6379
    password: "bkhra571"
  concurrency: 0
  port: 8199
  token:
     secret: HWqBXLYj8$z$ezR9gnihO8K13m#soNN^8WWuHMKDz12Vo6IWb3e6N!M4aHV@tCF3
     issuer: Bing
other:
  port: 8499
  exec-port-min: 8200
  exec-port-max: 8204
  unified-threads: 0
  proxy-uri: http://127.0.0.1
  resource-path: ./public/
  player-save-path: ./save
  plan-b: true